<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
	"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<!-- web.xml
	 Chris Glock
	 4/24/2007
	 This web.xml page contains the file path for the products.txt file. -->

<web-app>
	<context-param>
		<param-name>fileName</param-name>
		<param-value>../webapps/maintenance/WEB-INF/etc/products.txt</param-value>
	</context-param>
</web-app>